/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 배경색과 텍스트 색 */
body {
  background-color: white;
  color: black;
}

/* 다크 모드 스타일 */
body.dark {
  background-color: #2d3748;
  color: white;
}
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 1.2s linear infinite;
}
